.layout{
display:flex;
height:100vh;
font-family:Arial;
}

.sidebar{
width:220px;
background:#ff7a00;
color:white;
padding:25px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin-bottom:15px;
}

.sidebar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.sidebar a:hover{
text-decoration:underline;
}

.main{
flex:1;
background:#fff4e6;
padding:40px;
}