.dashboard{
display:flex;
height:100vh;
font-family:Arial;
}

/* sidebar */

.sidebar{
width:220px;
background:#ff7a00;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
margin:15px 0;
cursor:pointer;
}

/* main */

.main{
flex:1;
padding:40px;
background:#fff5e6;
}

.cards{
display:flex;
gap:20px;
margin-top:30px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
width:180px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
text-align:center;
}

.card h3{
color:#ff7a00;
margin-bottom:10px;
}

.card p{
font-size:22px;
font-weight:bold;
}